<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SerialPost COM</title>
    <script src="../../public/js/flexible.js"></script>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="initSerial.css">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="./initSerial.js"></script>
    <script src="../../public/js/jquery.min.js"></script>
</head>

<body>
    <div class="body-box" id="form">
        <div class="tool-bar">
            <div class="select-data">
                <div class="form-group">
                    <label for="disabledSelect">选择串口</label>
                    <select id="disabledSelect" class="form-control com">
                    </select>
                </div>
                <div class="form-group">
                    <label for="BaudRate">波特率</label>
                    <input type="text" class="form-control" id="BaudRate" value="115200">
                </div>
            </div>
            <div class="submit-data">
                <button class="btn btn-primary btn-block btn-submit" onclick="vue.serialPostCommListencer()">确定</button>
            </div>
        </div>
        <div class="content-box">
            <div class="send-box">
                <h4 class="send-header">
                    <label>初始化信息</label>
                    <small>点击初始化设备按钮后，程序将每5秒发送一次初始化信号，当设备初始化成功后设备将会信号灯常亮，这时点击完成初始化，整个流程完成</small>
                </h4>
                <div class="send-windows">
                    <!-- <textarea class="input-send-data" readonly="readonly"></textarea> -->
                    <form class="form-horizontal" style="width: 100%; margin-top: 10px">
                        <div class="form-group">
                            <label for="inputModelId" class="col-sm-2 control-label">设备ID</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputId" placeholder="设备ID" value="{{inputModelId}}"
                                    v-model="inputModelId" ref="inputId" v-if="checkState" readonly="readonly">

                                <input class="form-control" id="inputId" placeholder="设备ID" value="{{inputModelId}}"
                                    v-model="inputModelId" ref="inputId" v-if="!checkState">

                                <!-- <input class="form-control" id="inputId" placeholder="设备ID" value="{{inputModelId}}"
                                    v-model="inputModelId" ref="inputId"> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="1" id="autoCheckbox"
                                            onclick="vue.checkboxListencer()" v-model="checkState"> 自动生成ID
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputModelName" class="col-sm-2 control-label">设备名称</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputName" placeholder="设备名称" value="{{inputModelName}}"
                                    ref="inputName" v-model="inputModelName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRemark" class="col-sm-2 control-label">设备备注</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="inputRemark" placeholder="设备备注"
                                    value="{{inputModelRemark}}" ref="inputRemark" v-model="inputModelRemark">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="send-btn">
                    <div class="btn-box">
                        <div class="btn btn-warning btn-send" onclick="vue.startInit()">开始初始化</div>&nbsp&nbsp&nbsp
                        <div class="btn btn-danger btn-reset" onclick="vue.finishInit()">完成初始化</div>&nbsp&nbsp&nbsp
                        <!-- <div class="btn btn-normal" onclick="vue.testVue()">测试vue</div> -->
                    </div>
                </div>
            </div>

            <div class="receive-box">
                <h4 class="send-header">
                    <label>接受信息</label>
                </h4>
                <div class="receive-windows">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var t1;
    var vue = new Vue({
        el: '#form',
        data: {
            welcomeStr: 'Hello Vue.js!',
            inputModelId: '',
            inputModelName: '',
            inputModelRemark: '',
            message: '',
            checkState: true,
        },

        created: function () {
            console.log('vue is running' + this.welcomeStr);
            getModelInfoRequest();
        },

        methods: {
            finishInit: function () {
                console.log("点击完成初始化");
                alert('设备id' + this.inputModelId +
                    ' 设备名称' + this.inputModelName +
                    ' 设备备注' + this.inputModelRemark);

                    if(t1 != undefined){
                        window.clearTimeout(t1);
                    }
                    rq_finishInit(this.inputModelId);
            },

            startInit: function () {
                console.log("点击开始初始化");
                for(var i = 0; i < 10; i++){
                    t1 = window.setTimeout("startInitSerial()", 500);
                }
                $('.receive-windows').append("初始化信号发送完成，请注意信号灯是否常亮!");
            },

            testVue: function () {
                console.log("测试vue点击事件");
                this.inputModelId = '000';
                alert("this.inputModelName:" + this.inputModelName);
                // check();
            },

            serialPostCommListencer: function (data) {
                console.log("点击端口连接");
                serialComm(data);
            },

            checkboxListencer: function () {
                if (this.checkState) {
                    this.checkState = false;
                } else {
                    this.checkState = true;
                }
                console.log("checkState is chance: " + this.checkState);
            },
        }
    })
</script>
</html>